<div style="text-align:center;">
    <span style="font-size:25px; color:black;">ĐỀ TÀI ĐỒ ÁN NHÓM</span><br>
    <span style="font-size:25px; color:black;">Lập trình python cho phân tích dữ liệu</span>
</div>

 <span style="font-size:20px; color:black;">Thành viên nhóm</span><br>

- Hồ Minh Huệ - 050610220948 <br>
- Nguyễn Tiến Mạnh - 050610220296 <br>
- Lê Đặng Yến Quyên - 050610221269 <br>

<span style="font-size:20px; color:black;">Bảng phân chia công việc</span>

In [1]:
import pandas as pd
data = {'Tên': ['Hồ Minh Huệ', 'Nguyễn Tiến Mạnh', 'Lê Đặng Yến Quyên',  'Tổng % khối lượng công việc'],
        'Task 1': ['YC1: Tiền xử lý dữ liệu', 'YC3: Trực quan hóa dữ liệu', 'YC4: Phân tích dữ liệu',''],
        'Task 2' :['YC2: Mô tả dữ liệu', 'Kiểm tra bài làm YC1', 'Kiểm tra bài làm YC2',''],
        'Task 3' :['Tổng hợp bài làm', 'Kiểm tra bài làm YC4', 'Kiểm tra bài làm YC3',''],
        'Tổng % đóng góp' :['34%', '33%', '33%', '100%']}
team_work = pd.DataFrame(data)

# Hiển thị bảng dữ liệu
team_work

,Tên,Task 1,Task 2,Task 3,Tổng % đóng góp
0,Hồ Minh Huệ,YC1: Tiền xử lý dữ liệu,YC2: Mô tả dữ liệu,Tổng hợp bài làm,34%
1,Nguyễn Tiến Mạnh,YC3: Trực quan hóa dữ liệu,Kiểm tra bài làm YC1,Kiểm tra bài làm YC4,33%
2,Lê Đặng Yến Quyên,YC4: Phân tích dữ liệu,Kiểm tra bài làm YC2,Kiểm tra bài làm YC3,33%
3,Tổng % khối lượng công việc,,,,100%

<div style="text-align:center;">
<span style="font-size:25px; color:black;">BÀI LÀM</span><br>
</div>

In [4]:
# Khai báo thư viện 
import pandas as pd
import numpy as np

In [5]:
# Đọc dữ liệu từ file data_for_test_10000.csv
data = pd.read_csv("data_for_test_10000.csv")

In [6]:
# Hiện thị DataFrame (tuy nhiên nếu với cách này nó sẽ gặp 1 vấn đề):  
data

# Trong hệ thống, số hàng trả về tối đa là 60, nếu DataFrame lớn có nhiều hàng, Pandas sẽ chỉ trả về 5 hàng đầu tiên và 5 hàng cuối cùng
# Cách để hiện thị toàn bộ DataFrame:  

# [1] Sử dụng to_string() để có thể in toàn bộ DataFrame 
#data.to_string()

# [2] Thay đổi số lượng hàng tối đa để hiện thị toàn bộ DataFrame 
# Đặt số lượng hàng tối đa là 10000 
#pd.options.display.max_rows = 10000
#data # Hiện thị

,Unnamed: 0,ID,Fullname,Birthday,Sex,Hometown,Jobtype,Salary,Marital Status
0,0,123456789012,Nguyen Van A,12/09/1985,Male,Trà Vinh,Software Developer,15,Married
1,1,123456789012,Nguyen Van Anh,15/08/1990,Male,Quảng Nam,Software Engineer,500,Married
2,2,123456789012,Nguyen Van Anh,20/07/1985,Female,Hưng Yên,Architect,700,Married
3,3,123456789012,Trần Thị Minh Thu,12/05/1987,female,Thành phố Cần Thơ,Architect,200,married
4,4,123456789012,Nguyễn Văn A,20/03/1990,Male,Bà Rịa - Vũng Tàu,Architect,500,Single
...,...,...,...,...,...,...,...,...,...
9995,9995,123456789012,Nguyen Van Anh,26/07/1992,Male,Nam Định,Software Developer,20,Single
9996,9996,493091448434,Nguyen Van Anh,18/07/1990,male,Tuyên Quang,Software Engineer,18,single
9997,9997,123456789012,Nguyễn Thị Thanh Thúy,12/08/1992,Female,Vĩnh Long,Accountant,500,Married
9998,9998,123456789123,Nguyen Van A,12/06/1987,Male,Bình Dương,Teacher,15,Married
9999,9999,123456789012,Nguyễn Văn Hùng,26/03/1985,Male,Quảng Trị,Software Engineer,500,Married

<span style="font-size:20px; color:black;">Yêu cầu 1: Tiền xử lý dữ liệu</span><br>
<span style="font-size:20px; color:black;">Hãy xác định và xử lý các giá trị thiếu hoặc không chính xác trong tập dữ liệu đã cung cấp.</span><br>

In [7]:
# Xác định các giá trị thiếu hoặc không chính xác 
# Lặp qua từng dòng của DataFrame để kiểm tra nội dung có sai sót gì hay không
for index, row in data.iterrows():
    # Kiểm tra nội dung từng cột 
    # [1] Cột 'ID':
    # Các giá trị trong cột 'ID' là các giá trị số (0123...)
    # Chúng ta tiến hành kiểm tra cột 'ID' với method 'isdigit()' để kiểm tra các giá trị trong cột 'ID' có phải hoàn toàn là số hay không 
    # Nếu có giá trị nào trong cột 'ID' không chính xác (chứa các giá trị ngoài số: '{', '}', 'abc'.., ...) thì sẽ in ra dòng thông báo giá trị không hợp lệ 
    if not str(row['ID']).isdigit():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột ID: {row['ID']}")
    
    # [2] Cột 'Fullname':
    # Nội dung trong cột 'Fullname' là một string với dạng là các chữ cái alpha và dấu cách ' '
    # Chúng ta tiến hành kiểm tra bằng cách xóa dấu cách ' ' và sử dụng method 'isalpha()' để kiểm tra sau khi xóa dấu cách ' ' các ký tự còn lại có phải hoàn toàn là các ký tự alpha hay không 
    if not str(row['Fullname']).replace(' ', '').isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Fullname: {row['Fullname']}")
    # [3] Cột 'Birthday': 
    # Với định dạng '%d/%m/%Y'
    # Mỗi lần lặp vòng lặp for, chúng ta sẽ có gắng chuyển đổi giá trị trong cột 'Birthday' thành object datatime bằng function 'pd.to_datatime()' 
    try:
        pd.to_datetime(row['Birthday'], format='%d/%m/%Y')
    # Nếu giá trị không thể chuyển đổi thành datatime, nó sẽ thành một ngoại lệ 'ValueError' và in ra dòng thông báo dòng đó có giá trị không hợp lệ     
    except ValueError:
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Birthday: {row['Birthday']}")
    # [4] Cột 'Sex':
    # Tương tự với cột 'Fullname' tuy nhiên các giá trị trong cột 'Sex' không chứa dấu cách ' ' nên chúng ta không cần tiến hành xóa dấu cách mà thực hiện kiểm tra với method 'isalpha()' 
    if not str(row['Sex']).isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Sex: {row['Sex']}")    
    # [5] Cột 'Hometown':
    # Tương tự cột 'Fullname' tuy nhiên các giá trị trong cột 'Hometown' chứa thêm dấu '-' nên chúng ta cần loại bỏ nó trước khi kiểm tra 
    if not str(row['Hometown']).replace(' ', '').replace('-','').isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Hometown: {row['Hometown']}")
    # [6] Cột 'Jobtype':
    # Tương tự cột 'Hometown'
    if not str(row['Jobtype']).replace(' ', '').replace('-','').isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Jobtype: {row['Jobtype']}")   
    # [7] Cột 'Salary':
    # Tương tự cột 'ID' 
    if not str(row['Salary']).isdigit():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Salary: {row['Salary']}")    
    # [8] Cột 'Marital Status':
    # Tương tự cột 'Sex' 
    if not str(row['Marital Status']).isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Marial Status: {row['Marital Status']}")

Dòng 134: Giá trị không hợp lệ trong cột Birthday: 32
Dòng 295: Giá trị không hợp lệ trong cột Salary: 30 million VND
Dòng 1032: Giá trị không hợp lệ trong cột Salary: 30 million VND
Dòng 1332: Giá trị không hợp lệ trong cột Salary: 10 million VND
Dòng 1662: Giá trị không hợp lệ trong cột ID: {987654321012
Dòng 1662: Giá trị không hợp lệ trong cột Marial Status: Married}
Dòng 1683: Giá trị không hợp lệ trong cột Salary: 10 million VND
Dòng 1771: Giá trị không hợp lệ trong cột Salary: 45 million VND
Dòng 1797: Giá trị không hợp lệ trong cột Salary: 30 million VND
Dòng 2165: Giá trị không hợp lệ trong cột Salary: 15 million VND
Dòng 2651: Giá trị không hợp lệ trong cột Birthday: 34
Dòng 2960: Giá trị không hợp lệ trong cột Birthday: 01/15/1985
Dòng 4086: Giá trị không hợp lệ trong cột Birthday: 45
Dòng 4526: Giá trị không hợp lệ trong cột Salary: 15 million VND
Dòng 5764: Giá trị không hợp lệ trong cột Birthday: 1950/03/28
Dòng 5988: Giá trị không hợp lệ trong cột Salary: 30 Million VND
Dòng 6111: Giá trị không hợp lệ trong cột Salary: 25 million VND
Dòng 6486: Giá trị không hợp lệ trong cột Salary: $450
Dòng 6929: Giá trị không hợp lệ trong cột Salary: 15 million VND
Dòng 7180: Giá trị không hợp lệ trong cột Salary: 15 million VND
Dòng 7204: Giá trị không hợp lệ trong cột Salary: 35 million VND
Dòng 7345: Giá trị không hợp lệ trong cột Birthday: 31/02/1991
Dòng 7476: Giá trị không hợp lệ trong cột Salary: 45 Million VND
Dòng 7821: Giá trị không hợp lệ trong cột Salary: 15 million VND
Dòng 7833: Giá trị không hợp lệ trong cột Marial Status:  Single
Dòng 8200: Giá trị không hợp lệ trong cột Salary: 700 million VND
Dòng 8258: Giá trị không hợp lệ trong cột Salary: ''500 million VND'
Dòng 8549: Giá trị không hợp lệ trong cột Birthday: 12041990
Dòng 9450: Giá trị không hợp lệ trong cột Salary: 45 Million VND
Dòng 9760: Giá trị không hợp lệ trong cột Birthday: 15-07-1985

In [8]:
# [1] Xử lý trong cột 'ID':
# Xóa các giá trị không phải số từ cột 'ID'
data['ID'] = data['ID'].apply(lambda x: ''.join(filter(str.isdigit, str(x))))

In [9]:
# [2] Xử lý trong cột 'Fullname': 
# Xóa các giá trị không phải chữ cái ngoại từ dấu cách từ cột 'Fullname'
data['Fullname'] = data['Fullname'].str.replace(r'[^a-zA-Z\s]', '')

In [10]:
# [3] Xử lý trong cột 'Birthday':
# Các hàm xử lý các lỗi trong cột 'Birthday'
import datetime
# ** Chuyển đổi ddmmyyyy sang dd/mm/yyyy
# Đổi các giá trị thiếu '/' thành giá trị đúng với định dạng (ví dụ 12041990 thành 12/04/1990) 
def convert_date(date_str):
    day = date_str[:2]
    month = date_str[2:4]
    year = date_str[4:]
    return f"{day}/{month}/{year}"
    
# ** Chuyển đổi yyyy/mm/yy sang dd/mm/yyyy 
# Hàm tạo điều kiện:
# - Hàm này sẽ có chức năng tách cột 'Birthday' thành 1 list bởi '/'
# - Trả về độ dài chuỗi của phần tử thứ nhất, nếu phần tử thứ nhất có độ dài là 4 nghĩa là giá trị này thuộc dạng yyyy/mm/dd cần chuyển đổi lại đúng với định dạng 
def split_date(date_str):
    # Tách chuỗi thành ngày, tháng, năm
    parts = date_str.split('/')
    # Kiểm tra xem danh sách parts có ít nhất ba phần tử không
    if len(parts) >= 3:
        year = parts[0]
        month = parts[1]
        day = parts[2]
        # Trả về độ dài của chuỗi year 
        return len(year)
    else:
        return None  # Trả về None nếu không đủ phần tử trong danh sách parts
# Hàm thực thi 
def reversed_date(date_str):
    # Tách chuỗi ngày tháng năm thành danh sách
    parts = date_str.split('/')
    # Đảo ngược thứ tự và kết nối lại với dấu "/"
    reversed_date = '/'.join(parts[::-1])
    return reversed_date

# ** Chuyển đổi dd-mm-yyyy sang dd/mm/yyyy
# Thực hiện xóa '-' trong giá trị của cột 'Birthday'
# Về dạng ddmmyyyy sang dd/mm/yyyy
data['Birthday'] = data['Birthday'].str.replace('-', '')   

# Hàm kiểm tra tính chính xác của cột 'Birthday' 
def is_valid_date(date_str):
    parts = date_str.split('/')
    if len(parts) != 3:
        return False
    day, month, year = map(int, parts)
    if month < 1 or month > 12 or day < 1 or day > 31 or year < 1:
        return False
    if month in [4, 6, 9, 11] and day > 30:
        return False
    if month == 2:
        if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
            if day > 29:
                return False
        elif day > 28:
            return False
    return True
        
# Sử dụng vòng lặp để kiểm tra và xử lý các giá trị không chính xác 
for index, row in data.iterrows():    
    # nếu độ dài chuỗi của giá trị bằng 8 thì thuộc định dạng ddmmyyyy
    if len(row['Birthday']) == 8:
        data.at[index, 'Birthday'] = convert_date(row['Birthday'])
    # nếu phân tử đầu tiên có độ dài chuỗi là 4 thì thuộc định dạng yyyy/mm/dd     
    if split_date(row['Birthday']) == 4:
        data.at[index, 'Birthday'] = reversed_date(row['Birthday'])
    # nếu độ dài chuỗi của giá trị nhỏ hơn 8 hoặc kiểm tra bằng hàm trả về kết quả false thì giá trị cột 'Birthday' chưa chính xác 
    # sẽ đặt về '1/1/2024'
    if len(row['Birthday']) < 8 or is_valid_date(row['Birthday']) == False :
        data.at[index, 'Birthday'] = '01/01/2024'

In [11]:
# [4] Xử lý trong cột 'Sex' :
# Xóa các giá trị không phải chữ cái trong cột 'Sex'
data['Sex'] = data['Sex'].apply(lambda y: ''.join(filter(str.isalpha, str(y))))

In [12]:
# [5] Xử lý trong cột 'Hometown':
# Xóa các giá trị không phải chữ cái ngoại từ dấu cách và dấu '-' từ cột 'Hometown'
data['Hometown'] = data['Hometown'].str.replace(r'[^a-zA-Z\s-]', '')

In [13]:
# [6] Xử lý trong cột 'Jobtype':
# Xóa các giá trị không phải chữ cái ngoại từ dấu cách từ cột 'Jobtype' tương tự xử lý cột 'Fullname'
data['Jobtype'] = data['Jobtype'].str.replace(r'[^a-zA-Z\s]', '')

In [14]:
# [7] Xử lý trong cột 'Salary':
# Tương tự việc xử lý cột 'ID' 
data['Salary'] = data['Salary'].apply(lambda x: ''.join(filter(str.isdigit, str(x))))

In [ ]:
# [8] Xử lý trong cột 'Marital Status'
# Tương tự với việc xử lý cột 'Sex' 
data['Marital Status'] = data['Marital Status'].apply(lambda y: ''.join(filter(str.isalpha, str(y))))
data['Marital Status'] = data['Marital Status'].str.replace('Maried', 'Married')

In [ ]:
# [*] Kiểm tra lại lần nữa 
for index, row in data.iterrows():
    if not str(row['ID']).isdigit():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột ID: {row['ID']}")
    if not str(row['Fullname']).replace(' ', '').isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Fullname: {row['Fullname']}")
    if not str(row['Salary']).isdigit():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Salary: {row['Salary']}")    
    try:
        pd.to_datetime(row['Birthday'], format='%d/%m/%Y')
    except ValueError:
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Birthday: {row['Birthday']}")
    if not str(row['Hometown']).replace(' ', '').replace('-','').isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Hometown: {row['Hometown']}")
    if not str(row['Jobtype']).replace(' ', '').replace('-','').isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Jobtype: {row['Jobtype']}")   
    if not str(row['Sex']).isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Sex: {row['Sex']}")
    if not str(row['Marital Status']).isalpha():
        print(f"Dòng {index}: Giá trị không hợp lệ trong cột Marial Status: {row['Marital Status']}")

In [ ]:
# [*] Tạo file csv mới
# Sau khi kiểm tra, dữ liệu trong file gốc đã được làm sạch ta thực hiện chép dữ liệu đã làm sạch qua file mới "new_data_for_test_10000.csv" 
data.to_csv("new_data_for_test_10000.csv", index=False)
# Đặt số lượng hàm tối đa là 10000 để hiện thị toàn bộ DataFrame
pd.options.display.max_rows = 10000
new_data = pd.read_csv("new_data_for_test_10000.csv")
data # Hiện thị

<span style="font-size:20px; color:black;">Yêu cầu 2: Mô tả dữ liệu</span><br>

In [ ]:
# Thao tác trên tệp mới 
# Số lượng hàng và cột
print("Thông tin mô tả:\n")
num_rows, num_cols = new_data.shape
print("Số lượng hàng:", num_rows)
print("Số lượng cột:", num_cols)


# Kiểu dữ liệu của mỗi cột
print("\n[*] Kiểu dữ liệu của mỗi cột:")
print(new_data.dtypes)

# Miền giá trị của mỗi cột (nếu là số)
print("\n[*] Miền giá trị của mỗi cột (nếu là số):")
# Sử dụng method 'select_dtypes()' để lọc ra tất cả các cột có kiểu dữ liệu là 'int64' hoặc 'float64'
# Kết quả sẽ là một danh sách tên các cột trong DataFrame 
numeric_columns = new_data.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    # Sử dụng hai phương thức 'max', 'min' để hiện thị miền giá trị tương ứng 
    print(f"{column}: {new_data[column].min()} - {new_data[column].max()}")

# Các giá trị thiếu của mỗi cột 
print("\n[*] Các giá trị thiếu của mỗi cột:")
print(new_data.isnull().sum())

In [ ]:
# [*] Thông tin mô tả cụ thể từng cột trong DataFrame 
print("Thông tin cụ thể từng cột:")
print("\n")
# Hàm tính số lượng hàng
def calculate_count(column):
    return len(column)
# Hàm tính trung bình với xử lý giá trị không phải số
def calculate_mean(column):
    # Lọc ra các giá trị là số
    numeric_values = [float(value) for value in column if str(value).replace('.', '', 1).isdigit()]
    # Tính trung bình của các giá trị số
    if numeric_values:
        return sum(numeric_values) / len(numeric_values)
    else:
        return None

# Hàm tính độ lệch chuẩn với xử lý giá trị không phải số
def calculate_standard_deviation(column):
    mean = calculate_mean(column)
    # Lọc ra các giá trị là số
    numeric_values = [float(value) for value in column if str(value).replace('.', '', 1).isdigit()]
    # Tính độ lệch chuẩn của các giá trị số
    if numeric_values:
        squared_diff = [(x - mean) ** 2 for x in numeric_values]
        variance = sum(squared_diff) / len(numeric_values)
        return variance ** 0.5
    else:
        return None

# Hàm tính giá trị lớn nhất
def calculate_max(column):
    return max(column)

# Hàm tính giá trị nhỏ nhất
def calculate_min(column):
    return min(column)

# Hàm tính phân vị với xử lý giá trị không phải số
def calculate_quantile(column, q):
    # Lọc ra các giá trị là số
    numeric_values = [float(value) for value in column if str(value).replace('.', '', 1).isdigit()]
    # Tính phân vị của các giá trị số
    if numeric_values:
        sorted_column = sorted(numeric_values)
        index = q * (len(sorted_column) - 1)
        if index.is_integer():
            return sorted_column[int(index)]
        else:
            lower_index = int(index // 1)
            upper_index = lower_index + 1
            lower_value = float(sorted_column[lower_index]) # Chuyển đổi thành số
            upper_value = float(sorted_column[upper_index]) # Chuyển đổi thành số
            return (lower_value + upper_value) / 2
    else:
        return None


# Hàm hiển thị thông tin thống kê cơ bản
def display_basic_stats(data):
    for column_name in data.columns:
        column = data[column_name]     
        print(f"[*] Cột: {column_name}")
        print(f"Count: {calculate_count(column)}")
        print(f"Mean: {calculate_mean(column)}")
        print(f"Standard Deviation: {calculate_standard_deviation(column)}")
        if column_name in data.select_dtypes(include=['int64', 'float64']).columns:
            # In ra miền giá trị của cột số
            print(f"Max: {column_name}: {column.max()}")
            print(f"Min: {column_name}: {column.min()}")
        else:     
            print(f"Max: {calculate_max(column)}")
            print(f"Min: {calculate_min(column)}")
        print(f"25th Quantile: {calculate_quantile(column, 0.25)}")
        print(f"50th Quantile: {calculate_quantile(column, 0.5)}")
        print(f"75th Quantile: {calculate_quantile(column, 0.75)}")
        print("\n")

# Hiển thị thông tin thống kê cơ bản
display_basic_stats(new_data)

<span style="font-size:20px; color:black;">Yêu cầu 3: Trực quan hóa dữ liệu</span><br>

In [ ]:
# Khai báo thư viện 
import matplotlib.pyplot as plt
import datetime

In [ ]:
# [1] Biểu đồ phân phối độ tuổi  
# Chuyển đổi cột 'Birthday' thành định dạng datetime
new_data['Birthday'] = pd.to_datetime(new_data['Birthday'], format='%d/%m/%Y')

# Tính toán tuổi đến tháng 1, 2024
date_2024 = datetime.datetime(2024, 1, 1)
new_data['Age'] = date_2024.year - new_data['Birthday'].dt.year
new_data.loc[(new_data['Birthday'].dt.month > date_2024.month) | ((new_data['Birthday'].dt.month == date_2024.month) & (new_data['Birthday'].dt.day > date_2024.day)), 'Age'] -= 1
# Biểu đồ cột phân phối Birthday
plt.figure(figsize=(30, 15))
plt.bar(new_data['Age'].value_counts().index, new_data['Age'].value_counts().values)
plt.xlabel('Hometown')
plt.ylabel('Count')
plt.title('Distribution of Hometown')
plt.xticks(rotation=90, ha='right')

# Tuổi có số lượng người nhiều nhất
max_age = new_data['Age'].value_counts().idxmax()
max_count = new_data['Age'].value_counts().max()
plt.text(max_age, max_count, f'Age: {max_age}\nCount: {max_count}', va='bottom', ha='center')
plt.show()

In [ ]:
# [2] Biểu đồ phân phối giới tính 
# Chuyển đổi giới tính thành chữ viết hoa vì giá trị trong cột 'Sex' không đồng nhất về chữ hoa và chữ thường 
# Python phân biệt rõ rãng giữa chữ cái in hoa và in thường ví dụ 'Male' và 'male' là 2 chuỗi khác nhau
# Nên cần chuyển đổi các giá trị trong cột này về chung 1 form với method 'capitalize()' - chuyển đổi chữ cái đầu tiên thành chữ in hoa và chuyển đổi tất cả các ký tự còn lại trong chuỗi thành chữ thường. 
for index, row in new_data.iterrows():
    new_data.at[index, 'Sex'] = row['Sex'].capitalize()
# Sau khi chuyển đổi hai chuỗi 'Male' và 'male' sẽ được đồng nhất thành 'Male' để dễ dàng thực hiện việc tính toán số lượng và vẽ biểu đồ
# Tương tự với 'Female' và 'female'

# Tính toán số lượng của mỗi giới tính
gender_counts = new_data['Sex'].value_counts()

# Vẽ biểu đồ cột
plt.bar(gender_counts.index, gender_counts.values, color=['blue', 'pink'])
plt.title('Biểu đồ cột phân phối giới tính - Sex')
plt.xlabel('Giới tính')
plt.ylabel('Số lượng')
plt.show()
# Vẽ biểu đồ tròn
plt.pie(gender_counts, labels=gender_counts.index, autopct='%1.1f%%')
plt.title('Biểu đồ tròn phân phối giới tính - Sex')
plt.show()

In [ ]:
# [3] Biểu đồ phân phối quê quán 
plt.figure(figsize=(30, 15))
plt.bar(data['Hometown'].value_counts().index, data['Hometown'].value_counts().values)
plt.xlabel('Quê quán')
plt.ylabel('Số lượng')
plt.title('Biểu đồ phân phối quê quán')
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
# [4] Biểu đồ phân phối việc làm 
plt.figure(figsize=(30, 15))
plt.bar(data['Jobtype'].value_counts().index, data['Jobtype'].value_counts().values)
plt.xlabel('Công việc')
plt.ylabel('Số lượng')
plt.title('Biểu đồ phân phối việc làm')
plt.xticks(rotation=90, ha='right')
plt.show()

In [ ]:
# [5] Biểu đồ phân phối mức lương
# Biểu đồ thể hiện mức lương 
plt.figure(figsize=(30, 20))
plt.bar(data['Salary'].value_counts().index, data['Salary'].value_counts().values)
plt.xlabel('Lương')
plt.ylabel('Số lượng')
plt.title('Biểu đồ lươnng')
plt.xticks(rotation=90, ha='right')
plt.show()

# Biểu đồ thể hiện mức lương theo những khoảng nhất định 
# Chia dữ liệu mức lương thành các khoảng nhất định
max_salary = new_data['Salary'].max()
salary_ranges = [(0, 99), (100, 249), (250,499), (500, 749), (750, 999), (1000, max_salary)]

# Tính toán số lượng mức lương trong mỗi khoảng
frequency = []
for start, end in salary_ranges:
    count = new_data[(new_data["Salary"] >= start) & (new_data["Salary"] < end)]["Salary"].count()
    frequency.append(count)

# Tạo biểu đồ histogram
plt.figure(figsize=(10, 8))
bars = plt.bar(range(len(salary_ranges)), frequency, color='skyblue', edgecolor='black', alpha=0.7)

# Ghi số lượng trên mỗi cột
for bar, freq in zip(bars, frequency):
    plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height(), f'Count: {freq}', va='bottom', ha='center')

# Đặt nhãn và tiêu đề cho biểu đồ
plt.xticks(range(len(salary_ranges)), [f"{start}-{end}" for start, end in salary_ranges])
plt.title('Biểu đồ phân phối của cột "Salary"')
plt.xlabel('Mức lương')
plt.ylabel('Tần suất')
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

In [ ]:
# [6] Biểu đồ tình trạng hôn nhân 

# Chuyển đổi giới tính thành chữ viết hoa
for index, row in new_data.iterrows():
    new_data.at[index, 'Marital Status'] = row['Marital Status'].capitalize()

# Tính toán số lượng 
gender_counts = new_data['Marital Status'].value_counts()

# Vẽ biểu đồ cột
plt.bar(gender_counts.index, gender_counts.values, color=['blue', 'pink'])
plt.title('Biểu đồ cột phân phối tình trạng hôn nhân ')
plt.xlabel('Tình trạng')
plt.ylabel('Số lượng')
plt.show()
# Vẽ biểu đồ tròn
plt.pie(gender_counts, labels=gender_counts.index, autopct='%1.1f%%')
plt.title('Biểu đồ tròn phân phối tình trạng hôn nhân')
plt.show()

In [ ]:
# [*] Biểu đồ thể hiện top 10 công việc có mức lương trung bình cao nhất 
# Tạo một DataFrame mới chỉ chứa các cột Salary và Jobtype
salary_jobtype_data = new_data[['Salary', 'Jobtype']]

# Chia dữ liệu thành các nhóm theo loại công việc
grouped_data = salary_jobtype_data.groupby('Jobtype')

# Tính toán mức lương trung bình cho từng loại công việc
average_salary_by_jobtype = grouped_data['Salary'].mean()

# Sắp xếp theo mức lương trung bình và chỉ chọn top 10
top_10_average_salary = average_salary_by_jobtype.sort_values(ascending=False).head(10)

# Vẽ biểu đồ group bar
plt.figure(figsize=(30, 15))
bars = plt.bar(top_10_average_salary.index, top_10_average_salary.values, color='skyblue')

# Ghi trung bình lương trên mỗi cột
for bar, avg_salary in zip(bars, top_10_average_salary.values):
    plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height(), f'Avg Salary: {avg_salary:.2f}', va='bottom', ha='center')
    
plt.title('Top 10 công việc có thu nhập trung bình cao nhất')
plt.xlabel('Công việc')
plt.ylabel('Mức lương trung bình')
plt.xticks(rotation=90, ha='right')
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

In [ ]:
# [*] Biểu đồ mức lương trung bình theo nhóm tuổi 
# Tạo DataFrame mới chỉ chứa các cột Salary và Age_Group
new_data['Age_Group'] = pd.cut(new_data['Age'], bins=[20, 30, 40, 50, 60, np.inf], labels=['20-30', '30-40', '40-50', '50-60', '60+'])

salary_age_group_data = new_data[['Salary', 'Age_Group']]

# Chia dữ liệu thành các nhóm theo nhóm tuổi
grouped_data = salary_age_group_data.groupby('Age_Group', observed=False)


# Tính toán mức lương trung bình cho từng nhóm tuổi
average_salary_by_age_group = grouped_data['Salary'].mean()

# Vẽ biểu đồ bar
plt.figure(figsize=(10, 6))
bars = plt.bar(average_salary_by_age_group.index, average_salary_by_age_group.values, color='skyblue')

# Ghi trung bình lương trên mỗi cột
for bar, avg_salary in zip(bars, average_salary_by_age_group.values):
    plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height(), f'Avg Salary: {avg_salary:.2f}', va='bottom', ha='center')
    
plt.title('Mức lương trung bình theo nhóm tuổi')
plt.xlabel('Nhóm Tuổi')
plt.ylabel('Mức lương trung bình')
plt.xticks(rotation=45, ha='right')
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

<span style="font-size:20px; color:black;">Yêu cầu 4: Phân tích dữ liệu</span><br> 
<span style="font-size:20px; color:black;">
Insights từ phân tích dữ liệu:
- Phân bố độ tuổi của nhân viên
- Phân bố lương của nhân viên
- Phân bố giới tính 
- Phân bố theo vị trí công việc 

=> Phân tích, đánh giá những dữ liệu thu thập được để tối ưu hóa chính sách và phát triển để thu hút và giữ chân những nhân viên tài năng, đồng thời tăng cường hiệu suất làm việc và sự hài lòng về công việc
</span><br>

In [ ]:
# [1] Phân bố lương của nhân viên
# Phân tích lương của nhân viên: Hiểu rõ về phân bố lương của nhân viên giúp công ty, doanh nghiệp hay người chủ đánh giá lại sự công bằng và cân đối trong chính sách lương

# [*] Cách tiếp cận: 
# - Đánh giá lại phân bố lương hiện tại, xem xét sự công bằng giữa các vị trí công việc và mức lương 
# - So sánh lương trung bình giữa các vị trí, giới tính, hay nhóm độ tuổi khác nhau 
# - Khai thác thông tin, xây dựng dự đoán lương => có thể điều chỉnh, đưa ra mức lương phù hợp

# [*] Giả sử:
# - Phân tích dữ liệu trên để đưa ra top những mức lương phổ biến với data trên 
# - Phân tích mức lương phổ biến: 
print("Top 10 mức lương phổ biến: ")
new_data['Salary'].value_counts().head(10)

# [*] Phân tích các yếu tố liên quan: 
# - Phân tích mức lương trung bình giữa các nhóm như giới tính, độ tuổi và vị trí công việc là cần thiết để đảm bảo sự công bằng và cân đối trong chính sách lương.
# - Bằng cách so sánh lương trung bình giữa các nhóm, chúng ta có thể xác định các vấn đề tiềm ẩn và điều chỉnh chính sách lương để tạo ra môi trường làm việc công bằng hơn.

In [ ]:
# [2] Phân tích giới tính 
# Phân tích giới tính: Sự phân bố giới tính trong công ty có thể tiết lộ vấn đề liên quan đến đa dạng và bình đẳng giới trong môi trường làm việc
# Việc phân tích giới tính thì không phải một việc quá quan trọng tuy nhiên để đảm bảo môi trường làm việc bình đẳng và đồng thuận thì việc phân tích giới tính là không thể thiếu 

# [*] Phân tích giới tính: 
print("Phân tích giới tính: ")
print(new_data["Sex"].value_counts()) 

# [*] Phân tích lương trung bình 
# - Đánh giá mức lương giữa nam và nữ 
# => Giúp xác định và giải quyết các bất bình đăng về lương 
# => Tăng cường sự đa dạng giới tính cũng như có thể mang lại nhiều lợi ích về sáng tạo và hiệu suất 
print("\nMức lương trung bình: ")
new_data.groupby("Sex")["Salary"].mean()

In [ ]:
# [3] Phân tích công việc 
# Phân tích theo vị trí công việc: Hiểu rõ phân bố các vị trí công việc trong công ty có thể giúp đánh giá sự cần thiết và hiệu quả của các bộ phận và nhóm làm việc. 
# Song song có thể phân tích mức lương và vị trí công việc để nhìn nhận và đánh giá về chênh lệch mức lương giữa các ví trí với nhau, nắm rõ nhu cầu và mong muốn của nhân viên

# [*] Phân tích số lượng nhân viên theo từng vị trí 
print(new_data["Jobtype"].value_counts()) 

# [*] Phân tích mối quan hệ giữa vị trí làm việc và lương 
# - Việc này đưa ra cho chúng ta một bảng lương trung bình theo từng vị trí công việc
# - Chúng ta có thể so sánh đánh giá chênh lệch giữa các vị trí với nhau 
new_data.groupby("Jobtype")["Salary"].mean()  # Mức lương trung bình theo loại công việc

In [ ]:
# [*] Phân tích phân bố mức lương của từng vị trị của thể 
# - Biết được rằng vị trí đó có những người nhận mức lương bao nhiêu, chênh lệch với nhau là bao nhiêu ở cùng một vị trí công việc

# [*] Ví dụ như 'Jobtype' - 'Accountant':
# - Có nhiều mức lương khác nhau với vị trí công việc này 
# + Mức lương 500 với 41 người
# + Mức lương 15 với 32 người 
# + Mức lương 20 với 17 người 
# + ... 
new_data.groupby("Jobtype")["Salary"].value_counts()

In [ ]:
# [4] Phân tích độ tuổi của nhân viên: 
# Phân bố độ tuổi của nhân viên: Phân bố độ tuổi của nhân viên trong công ty có thể cho thấy sự phân hóa độ tuổi trong lực lượng lao động. Điều này có thể ảnh hưởng đến sự đa dạng và sự phát triển nghề nghiệp.
# Việc phân tích độ tuổi có thể đưa ra nhận định về phân bố độ tuổi của nhân viên thuộc nhóm trẻ hay già là chủ yếu, có thể đưa ra những biện pháp để dự đoán xu hướng tăng lương và xu hướng công việc tương lai 

# [*] Phân tích số tuổi theo nhóm tuổi 20-30, 30-40, 40-50, 50-60, 60+
print(new_data["Age_Group"].value_counts()) 

# [*] Phân tích mức lương trung bình theo nhóm tuổi 
new_data.groupby("Age_Group",observed=False)["Salary"].mean()

<span style="font-size:15px; color:black;">
[5] Kết luận 
    
Dựa trên phân tích chi tiết của tập dữ liệu, giúp thu thập và đánh giá một số insights quan trọng để hiểu sâu hơn về độ tuổi, giới tính, mức lương và vị trí công việc của nhân viên trong công ty. Những insights này là cơ sở để đưa ra các đề xuất cụ thể nhằm tối ưu hóa chính sách nhân sự và phát triển kinh doanh 

- Phân tích về phân bố độ tuổi của nhân viên cho thấy sự đa dạng trong lực lượng lao động, nhưng cũng tiếp tục thể hiện sự tập trung ở một nhóm tuổi nhất định. Việc phân tích này giúp nhìn nhận rõ hơn về cơ cấu tuổi của nhân viên và dự đoán xu hướng phát triển nghề nghiệp trong tương lai.

- Phân tích về phân bố lương của nhân viên đã làm nổi bật sự chênh lệch giữa các mức lương và vị trí công việc khác nhau. Việc điều chỉnh chính sách lương để tăng cường sự công bằng và cân đối là một trong những đề xuất quan trọng 

- Phân tích về phân bố giới tính giúp nhìn nhận về sự đa dạng và bình đẳng giới trong môi trường làm việc. Điều này đặt ra một yêu cầu cấp bách để xem xét lại các chính sách và quy trình để đảm bảo sự bình đẳng giới và tạo ra một môi trường làm việc tích cực cho tất cả nhân viên.

Cuối cùng, phân tích về phân bố theo vị trí công việc đã làm nổi bật sự cần thiết và hiệu quả của từng bộ phận và nhóm làm việc trong công ty. Cùng với đó là việc đánh giá mức lương và vị trí công việc để xác định các điểm mạnh và yếu và điều chỉnh cần thiết để tối ưu hóa hiệu suất làm việc và hài lòng của nhân viên.

Tóm lại, thông qua việc phân tích chi tiết dữ liệu, chúng tôi tin rằng các đề xuất được đưa ra có thể giúp cải thiện chính sách nhân sự, tạo ra một môi trường làm việc tích cực và thu hút nhân viên tài năng, từ đó nâng cao hiệu suất làm việc và sự hài lòng của nhân viên cũng như hoàn thành mục đích quan trọng nhất là nâng cao hiệu quả kinh doanh
</span><br>